.navbar-brand {
    font-size: x-large;
}

.nomargin {
    margin: 0;
}

td {
    background-color: #f0f5f9;
    border: 2px solid #52616b;
    color: #1e2022;
    max-width: 50%;
    padding: 2%;
}

th {
    background-color: #b3c7d4;
    border: 2px solid #52616b;
    color: #1e2022;
    max-width: 50%;
    padding: 2%;
}

table {
    margin: 5%;
}

body {
    background-color: #1e2022;
    color: #f0f5f9;
}

nav {
    background-color: #f0f5f9;
    margin-bottom: 2%;
}